@import '../colors.css';

.chart-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.chart-legend {
  margin-top: 20px;
  width: 97%;
  margin-right: 20px;
  display: flex;
  gap: 15px;
}

.chart-legend-segment {
  background-color: var(--green-middark);
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  overflow: hidden;
  user-select: none;
}

.legend-color-bar {
  height: 28px;
  width: 8px;
}

.chart {
  width: 97%;
  height: 40rem;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 20px;
}