@import './colors.css';

@font-face {
  font-family: cinzel-bold;
  src: url('../fonts/Unna-Bold.ttf');
}

body {
  margin: 0;
  background-color: var(--green-dark);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  margin: 0;
}

/* .tier {
  font-family: cinzel-bold;
} */