@import '../colors.css';


.searchBar {
  margin-top: 130px;
  width: 28.5%;
  height: 101px;
  background-color: var(--green-middle);
  border-radius: 60px;
  border: solid 2px black;
  display: flex;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
  padding-left: 50px;
}